/* how to comment in css */



#cssmenu .container {
  margin-right: 0;
  padding: 11;
  /*list-style-type: none;*/ 
  width: auto;
  height: 60px;
  position: relative;
  display: block;
  font-size: 12px;
  font-weight: bold;
  background: #282828;
  /*font-family: Arial, Helvetica, sans-serif;*/
  /*border-bottom: 1px solid #282828;*/
  zoom: 1;
}

#cssmenu li {
  display: inline-block;
  /*float: left;*/
  margin: 0;
  margin-left: -10;
  padding: 0 4px; /* vertical space between each element */
  /*display: inline;*/
}
#cssmenu li a {
  display: block;
  float: left;
  color: #BBBBBB;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px 7px 20px;
  border-bottom: 3px solid transparent;
}
#cssmenu li a:hover {
  color: #FFFFFF;
  border-bottom: 3px solid #88fd00;
}
#cssmenu li.active a {
  display: inline;
  border-bottom: 3px solid #88fd00;
  float: left;
}

/*
.side .container {
	width: 220px;
	height: auto;
	float: left;
	background-color: #f0f0f0;
	text-align: left;
	border-right: 1px solid #060606;
}

.side p {
	position: relative;
	height: 35px;
	top: 25px;
	font-size: 14px;
	text-align: right;
}*/


.main .container {
	width: 100%;
	color: #000f0f;
}

.main .container h2 {
	position: relative;
	font-weight: bold;
	top: 25px;
	font-size: 24px;
	margin-left: 30%;
}

.main .container .pic {
	position: absolute;
	left: 30%;
	top: 150px;
}

.main .container .para1 {
	margin-left: 150;
}
.main .container p {
	position: relative;
	top: 50px;
	font-size: 14px;
	margin-right: 30%;
	margin-left: 30%;
}

.main .today p {
	position: fixed;
	bottom: -10;
	right: 20;
}

.main .travel img {
  position: relative;
  left: 33%;
  margin-top: 5%;
  width: 33%;
  height: 33%;
}